target/
.idea/
*.ids
*.iws
*.iml
*.ipr
*.log

# Eclipse files

bin/
tmp/
.settings/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties

# OS-specific files

[Tt]humbs.db
*.DS_Store